body
{
    background-color: #D5F0FF;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

*
{
    scroll-behavior: smooth;
}
li
{
    list-style-type: none;
}
a
{
    text-decoration: none;
    color: inherit;
}
:root
{
    --main-borderdiv:1px solid #444;
    --main-text-color:#123;
    --main-border:5px;
    --main-padding:5px;
    --main-borderlinks:10px;
    --main-fontsize:18px;
    --main-borderimages:5px;
    --main-fontfamilytext: "Josefin Sans", sans-serif;
}
.container {
    display: grid;
    gap: 20px;
    width: 75%;
    height: 200vh;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr); /* Alterando o número de colunas para 4 */
    grid-template-rows: 0.2fr 0.7fr 0.1fr 1fr 0.8fr 1fr 0.5fr 0.3fr;
    grid-template-areas: 
        "h h h h"
        "m m m m"
        "is is is is"
        "b1 b1 b2 b2"
        "b3 b3 b4 b4"
        "b5 b6 b6 b7"
        "bb bb bb bb"
        "f f f f";   
}

header,main,.info_section,.box1,.box2,.box3,.box4,.box5,.box6,.box7,.big_box,footer
{

    border: var(--main-borderdiv);
    background-color: inherit;
    color: var(--main-text-color);
    padding: var(--main-padding);
    border-radius: var(--main-border);
}

header
{
    border: none;
    grid-area: h;
    background: #ffffff;
    
}



header ul 
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_search
{
    font-size: var(--main-fontsize);
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.nav_search img
{
    width: 100px;
}

.foto_nav:hover
{
    background: none;
    background-color: #e6e4e4;
    
}
header a:hover
{
    
    background: linear-gradient(to left, #F7B0D2, #508E9D);
    color: white;
}
header
aside{grid-area: a;}
main
{
    grid-area: m;
    background: linear-gradient(to left, #F7B0D2, #508E9D);
    color: white;
    font-family: var(--main-fontfamilytext);
    font-size: 25px;   
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--main-padding);
    border: none;
}

.info_section
{
    grid-area: is;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
}

.info_section a
{
    font-family: var(--main-fontfamilytext);
    padding: 10px;
    border: var(--main-borderdiv);
    border-radius: var(--main-borderlinks);
    font-size: var(--main-fontsize);
    background-color: #F7B0D2;
}

.box_foto1
{
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--main-fontsize);
    border: var(--main-borderdiv);
}
.box_foto1 img
{
    margin-top: 5%;
    border-radius: var(--main-borderimages);
    width: 90%;
    height: 80%;
    
}


.box_foto2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
}

.box_foto2 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.link_box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: var(--main-borderlinks);
    background-color: #F7B0D2;
}

/* Adicionando flex-grow para as divs box_foto2 */
.box6, .box7 {
    flex-grow: 1;
}


.box1{grid-area: b1;}
.box2{grid-area: b2;}
.box3{grid-area: b3;}
.box4{grid-area: b4;}
.box5{grid-area: b5;}
.box6{grid-area: b6;}
.box7{grid-area: b7;}
.big_box{
    grid-area: bb;
    display: flex;
    margin: 0;
    border: none;
}
.big_box div 
{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
}

.big_box img
{
    width: 100%;
   
}

.botao_vakinha
{
    background-color: #ED6D6A;
    transition: 1s;
    text-align: center;
}
.botao_vakinha a
{
    background-color: #fff;
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
    transition: all linear 0.3s;
}
.botao_vakinha a:hover{
    
    color:#ED6D6A;
    background-color: #e6e4e4;
    
}

footer
{
    display: flex;
    grid-area: f;
    background-color: #FDCEDF;
    background: linear-gradient(to left, #F7B0D2, #508E9D);
    justify-content: space-around;
    align-items: start;  
}

.footer_list
{
    font-size: 15px;
    text-align: justify;
}

.footer_list p
{
    margin: 7px;
}

.footer_list p:hover
{
    color: white;
    text-decoration: underline;
}

