body
{
    scroll-behavior: smooth;
    background-color: #D5F0FF;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

li
{
    list-style-type: none;
}
a
{
    text-decoration: none;
    color: inherit;
}
:root
{
    --main-borderdiv:1px solid #444;
    --main-text-color:#123;
    --main-border:5px;
    --main-padding:5px;
    --main-borderlinks:10px;
    --main-fontsize:18px;
    --main-borderimages:5px;
    --main-fontfamilytext: "Josefin Sans", sans-serif;
}
.container
{
    
    display: grid;
    gap:20px;
    width: 70%;
    height: 200vh;  
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.7fr 0.1fr 1fr 0.8fr 1fr 0.5fr 0.3fr;
    grid-template-areas: 
        "h h h h"
        "m m m m"
        "is is is is"
        "b1 b1 b2 b2"
        "b3 b3 b4 b4"
        "b5 b6 b6 b7"
        "bb bb bb bb"
        "f f f f"
    
  
}

header,main,.info_section,.box1,.box2,.box3,.box4,.box5,.box6,.box7,.big_box,footer
{

    border: var(--main-borderdiv);
    background-color: inherit;
    color: var(--main-text-color);
    padding: var(--main-padding);
    border-radius: var(--main-border);
}

header
{
    grid-area: h;
    background-color: #FEECE2;
}



header ul 
{
    display: flex;
    justify-content: flex-end;
}

.nav_search
{
    
    font-size: var(--main-fontsize);
    margin: 10px;
    padding: 10px;
    border: var(--main-borderdiv);
    border-radius: var(--main-borderlinks);
    transition: 0.3s;
}

header a:hover
{
    background-color: #D5F0FF;
    color: white;
}
header
aside{grid-area: a;}
main
{
    grid-area: m;
    background: linear-gradient(to left, #F7B0D2, #508E9D);
    color: white;
    font-family: var(--main-fontfamilytext);
    font-size: 25px;   
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--main-padding);
}

.info_section
{
    grid-area: is;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
}

.info_section a
{
    font-family: var(--main-fontfamilytext);
    padding: 10px;
    border: var(--main-borderdiv);
    border-radius: var(--main-borderlinks);
    font-size: var(--main-fontsize);
    background-color: #F7B0D2;
}

.box_foto1
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--main-fontsize);
    border: var(--main-borderdiv);
}
.box_foto1 img
{
    margin-top: 5%;
    border-radius: var(--main-borderimages);
    width: 80%;
    height: 80%;
}

.box_foto2
{
    background-image: url(Assets/LogoOng.png);
    
}
.box1{grid-area: b1;}
.box2{grid-area: b2;}
.box3{grid-area: b3;}
.box4{grid-area: b4;}
.box5{grid-area: b5;}
.box6{grid-area: b6;}
.box7{grid-area: b7;}
.big_box{grid-area: bb;}
footer
{
    display: flex;
    grid-area: f;
    background-color: #FDCEDF;
    background: linear-gradient(to left, #F7B0D2, #508E9D);
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    
}
footer h1{
    font-size: 20px;
}

.footer_links p
{
    margin: 5px;
}
.footer_links li p:hover
{
    color: white;
}
.social-links{
    text-align: center;
}
.social-links a:hover{
    color: rgb(255, 127, 127);
}