*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

:root{--main-gradiente: linear-gradient(to left, #F7B0D2, #508E9D);}
li{list-style: none;}
a{text-decoration: none;}

body
{
    background-image: url('../Assets/bg-img-5.jpeg');
    /* background-size: cover; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-align: center;
}
.container{
    background-color: #D5F0FF;
    max-width: 70%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}

.menu{
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    padding:10px 50px;
}

.menu li:first-child {margin-left: 450px;}


.menu-items a
{   
    padding: 10px;
    color: #333;
    background-color: #d5f0ff;
    margin-right: 20px;
    border-radius: 20px;    
}

.menu-items a:hover
{
    padding: 10px;
    color: white;
    border-radius: 20px;
    background-color: #F7B0D2;
}

header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul li{
    padding: 10px;
    /* transition: 0.5s; */
}

nav img{
    width: 95px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7%;
    font-size: 50px;
    font-weight: bold;
    background: var(--main-gradiente);
    color: #edfbff;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
}

.formContainer{
    display: flex;
    padding: 50px 20px;
    margin: auto;
}

h1{
    margin-top: 5%;
    margin-bottom: 10%;
    color: #508E9D;
    text-align: center;
    font-size: 200%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

input{
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    margin: 0 auto 20px auto;
}

button{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border:none;
    background-color: #508E9D;
    color: #ffffff;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 90%;
    padding: 8px;
    &:hover{
        color:#508E9D;
        background-color: #fff;
    }
}

.formImg{
    margin: 1em;
    width: 450px;
    height: 550px;
    object-fit: cover;
    border-radius: 10%;
    border: 5px solid #508E9D;
}
/* .RedesSociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}
.MainImages{
    display: flex;
}
.MainImg{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MainImg img{
    width: 100%;
    border-radius: 20px;
}

.SocialMediaArea{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 60%;
    font-size: 2.5em;
    margin-top: 2%;
    border-radius: 20px;
    padding: 10px;
    margin: 3% auto;
}

#MainImg1{background-color:#3b5998;}
#MainImg2{background-color:#eea9ca;}
.SocialMediaImg{width: 100%;}
.SocialMediaImg img{width: 80%;}

.SectionForm{
    background-color: #BDE3FF;   
}

.SectionForm {
    text-align: center;
    padding: 20px;
}

.FormularioDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.FormularioDiv input[type="text"],
.FormularioDiv input[type="email"],
.FormularioDiv textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.FormularioDiv textarea {
    height: 150px;
}

.FormularioDiv input[type="button"] {
    background-color: #FF007F;
    color: white;
    font-size: 1.5em;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.FormularioDiv input[type="button"]:hover {
    background-color: #FFC0CB;
}

.FormularioDiv p {
    text-align: left;
    margin-bottom: 5px;
} */

footer {
    display: flex;
    flex-wrap: wrap; /* Adicionando flex-wrap para garantir o ajuste responsivo */
    justify-content: space-around;
    align-items: flex-start;
    background-color: #FDCEDF;
    background: linear-gradient(to left, #F7B0D2, #508E9D);
}

.footer_list {
    flex: 1;
    width: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centralizando os itens verticalmente */
    margin: 20px; /* Espaçamento entre as colunas de itens do footer */
}

.footer_list ul {
    display: flex;
    flex-direction: column;
    list-style-type: none; /* Removendo marcadores de lista */
    padding: 10px; /* Removendo o preenchimento padrão */
}

.footer_list ul li {
    color: black;
    padding: 10px;
}

.footer_list p {
    margin: 0px;
}

.footer_list p:hover {
    color: white;
    text-decoration: underline;
}
