body
{
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-align: center;
}

:root{--main-gradiente: linear-gradient(to left, #F7B0D2, #508E9D);}

.container{
    background-color: #D5F0FF;
    max-width: 1200px;
    margin:0 auto;
    display: flex;
}

*{scroll-behavior: smooth;} 
li{list-style: none;}
a{text-decoration: none;}

.container{
    max-width: 1200px;
    margin:auto;
    display: flex;
    flex-direction: column;

}

/* HEADER */
.logo{
    display: flex;
    justify-self: flex-start;
}

.menu{
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    padding:10px 50px;
}

.menu li:first-child {margin-left: 450px;}
.menu-items a
{   
    padding: 10px;
    color: #333;
    background-color: #d5f0ff;
    margin-right: 20px;
    border-radius: 20px;    
}

.menu-items a:hover
{
    padding: 10px;
    color: white;
    border-radius: 20px;
    background-color: #F7B0D2;
}

.perfil-bd img{border-radius: 50%;}

header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul li{
    padding: 10px;
    /* transition: 0.5s; */
}

nav img{
    width: 95px;
}

/* TÍTULO DO MAIN */
.titulo{
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    background: var(--main-gradiente);
    color: #edfbff;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
}

/* IMAGEM DO MAIN  */
main img{
    border-radius: 26px;
    justify-content: center;
    width: 1000px;
    height: 600px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 40px;
}

/* SUBTÍTULOS */
h1{
    color: #508E9D;
    text-align: center;
    font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* SOBRE A ONG + COMO AJUDAR */
.sec1{
    display:flex;
    justify-content: space-around;
    
}
.sec2{
    display: flex;
    justify-content: space-around;
    margin: 5%;
}


.conteudo img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}

.conteudo p{
    font-size: 1.2em;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
}

/* BAZAR + DENUNCIE */
.bazar{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.bazar img{
    height: 500px;
    border-radius: 26px;
}

/* VAKINHA */
.vakinha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.vakinhaImg,.vakinhaButton{flex: 1;}
.vakinhaImg{
    width: 100%;
}

.vakinhaImg img{width: 100%;}

.vakinhaButton{
    display: flex;
    justify-content: center;
    align-items: center;
}



 
/* BOTÕES */

button{
    cursor: pointer; 
    padding: 3px 10px;
    border-radius: 5px;
    border:none;
    background-color: #508E9D;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    padding: 8px;
    margin-top: 20px;
}

button a
{
    background-color: #fff;
    border: none;
    padding: 20px;
    border-radius: 20px;
    transition: all linear 0.3s;
}
button a:hover
{
    color:#508E9D;
    background-color: #e6e4e4;
    
}

/* FOOTER */
footer
{
    display: flex;
    background-color: #FDCEDF;
    background: linear-gradient(to left, #F7B0D2, #508E9D);
    justify-content: space-around;
    align-items: start;  
}

.footer_list
{
    font-size: 15px;
    text-align: justify;
}

.footer_list p
{
    margin: 7px;
}

.footer_list p:hover
{
    color: white;
    text-decoration: underline;
}

.footer_list ul li{color: black;}

/* RESPONSIVIDADE */

@media (max-width: 800px) 
{
    .container{height: auto;}
    img
    {
        width: 100%;
    }
    button
    {
        margin: 5px;
    }

    nav
    {
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }

    .menu-items{justify-content: center;}
    .menu-items ul{ margin: 0 auto;}
    
    .menu li {
        margin-right: 0;
        border: 1px solid inherit;
        background-color: #D5F0FF;
        border-radius: 20px;
      }
    .nav_img{display: none;}
      
    .menu li:first-child {
        margin-left: 0; /* Remove margin from first menu item */
      }
    
    nav img {width: 50px;}
    
    .perfil-bd{display: none;}

    .conteudo{margin-bottom: 10px;}
    .conteudo p{text-align:justify; font-size: 20px;}
    main img
    {

        justify-content: center;
        align-items: center;
    }
    .container
    {
        min-width: auto;
    }  
    .sec1, .sec2
    {
        flex-direction: column;
    }  


    

    footer
    {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 10px;
    }
}


